* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

#map {
  width: 90%;
  margin: auto;
}

label {
  margin-right: 10px;
}
.search p{
  display: inline-block;
}
.search span{
  color: red;
  font-weight: bold;
}