<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/bill.css">
    <script src="js/vue.min.js"></script>
    <script src="js/jquery.min.js"></script>
</head>

<body>
    <div id="app" :class="data.type === '商票'?'red':'blue'" v-if="data.type" v-cloak>
        <div class="billContent billWarp1 billFace" id="billBg1">
            <div class="tableWrap billFace">
                <p>显示日期:
                    <span>&nbsp; {{dateNow}}
                    </span>
                </p>
                <img src="images/billLogo.png">
                <h3>{{data.type === '商票'?'电子商业承兑汇票':'电子银行承兑汇票'}}</h3>
                <ul class="billBase clearfix">
                    <li>出票日期: {{data.billIssueDate}}
                    </li>
                    <li>票据状态:&nbsp; {{billStateJudge(data.billState)}}</li>

                    <li>汇票到期日:&nbsp; {{data.billDueDate}}
                    </li>
                    <li>票据号码:&nbsp; {{data.billNo}}
                    </li>
                </ul>

                <table width="100%">
                    <tbody>
                        <tr class="firstRow">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="3"> 出票人 </td>
                            <td colspan="4"> 全&nbsp;称 </td>
                            <td colspan="13">
                                {{data.issueName}}
                            </td>
                            <td colspan="1" rowspan="3"> 收款人 </td>
                            <td colspan="4"> 全&nbsp;称 </td>
                            <td colspan="13">
                                {{data.payeeName}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"> 账&nbsp;号 </td>
                            <td colspan="13">
                                {{data.issueBankAccount}}
                            </td>
                            <td colspan="4"> 账&nbsp;号 </td>
                            <td colspan="13">
                                {{data.payeeBankAccount}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"> 开户银行 </td>
                            <td colspan="13">
                                {{data.issueOpenBank}}

                            </td>
                            <td colspan="4"> 开户银行 </td>
                            <td colspan="13">
                                {{data.payeeOpenBank}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">出票保证信息</td>
                            <td class="row4 col1" colspan="12">保证人名称：{{data.issueBailName}}</td>
                            <td class="row4 col2" colspan="12">保证人地址：{{data.issueBailAdd}}</td>
                            <td class="row4 col3" colspan="5">保证日期：{{data.issueBailDate}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" rowspan="2">票据金额</td>
                            <td colspan="3" rowspan="2">人民币
                                <br>(大写)</td>
                            <td colspan="14" rowspan="2">{{smalltoBIG(data.billAmount)}}</td>
                            <td>十</td>
                            <td>亿</td>
                            <td>千</td>
                            <td>佰</td>
                            <td>十</td>
                            <td>万</td>
                            <td>千</td>
                            <td>佰</td>
                            <td>十</td>
                            <td>元</td>
                            <td>角</td>
                            <td>分</td>
                        </tr>
                        <tr>

                            <td v-for="(item,index) in moneyResult">{{item}}</td>

                        </tr>
                        <tr>
                            <td colspan="5" rowspan="2">承兑人信息</td>
                            <td colspan="3">全&nbsp;称</td>
                            <td colspan="11">
                                {{data.acceptorName}}
                            </td>
                            <td colspan="5">开户行行号</td>
                            <td colspan="12">
                                {{data.acceptorBankCode}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">账&nbsp;号</td>
                            <td colspan="11">
                                {{data.acceptorBankAccount}}
                            </td>
                            <td colspan="5">开户行名称</td>
                            <td colspan="12">
                                {{data.acceptorBankName}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">交易合同号</td>
                            <td colspan="13">
                                {{data.contractNo}}
                            </td>
                            <td colspan="1" rowspan="3">承兑信息</td>
                            <td class="row9" colspan="16">出票人承诺：本汇票请予以承兑，到期无条件付款</td>
                        </tr>
                        <tr>
                            <td colspan="5" rowspan="2">能否转让</td>
                            <td colspan="13" rowspan="2">{{data.isCanTransfer === '10'?'可在转让':'不可转让'}}</td>
                            <td class="row10" colspan="16">承兑人承诺：本汇票已经承兑，到期无条件付款</td>
                        </tr>
                        <tr>
                            <td class="row11" colspan="16">承兑日期： {{data.acceptDate}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">承兑保证信息</td>
                            <td class="row4 col1" colspan="12">保证人名称：{{data.acceptBailName}}</td>
                            <td class="row4 col2" colspan="11">保证人地址：{{data.acceptBailAdd}}</td>
                            <td class="row4 col3" colspan="6">保证日期：{{data.acceptBailDate}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" rowspan="2">评级信息(由出票发、承兑人自己记载仅供参考)</td>
                            <td colspan="3">出票人</td>
                            <td class="row4 col1" colspan="11">评级主体： {{data.issueRatingBody}}
                            </td>
                            <td class="row4 col2" colspan="9">信用等级：{{data.issueCreditRating}}</td>
                            <td class="row4 col3" colspan="6">评级到期日：{{data.issueRatingDueDate}}</td>
                        </tr>
                        <tr>
                            <td colspan="3">承兑人</td>
                            <td class="row4 col1" colspan="11">评级主体： {{data.acceptorRatingBody}}
                            </td>
                            <td class="row4 col2" colspan="9">信用等级：{{data.acceptorCreditRating}}</td>
                            <td class="row4 col3" colspan="6">评级到期日：</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="billContent billWarp2 billBack" id="billBg2">
            <div class="tableWrap">
                <p>显示日期:
                    <span>&nbsp; {{dateNow}}
                    </span>
                </p>
                <img src="images/billLogo.png">
                <h3>电子银行承兑汇票</h3>
                <ul class="billBase clearfix">
                    <li>票据号码:
                        <span>&nbsp; {{billNum}}
                        </span>
                    </li>
                </ul>

                <table v-for="(item,index) in tableData" width="100%">
                    <thead>
                        <td colspan="2" style="height: 32px;text-align: center;"> {{item.endorseType === "E"?"转让背书":"质押背书"}} </td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>背书人名称</td>
                            <td class="mosaic2">{{item.endorserName}}</td>
                        </tr>
                        <tr>
                            <td>被背书人名称</td>
                            <td class="mosaic2">{{item.endorseeName}}</td>
                        </tr>
                        <tr>
                            <td>能否转让</td>
                            <td>{{item.transferEnable==="Y"?"可转让":"不可转让"}}</td>
                        </tr>
                        <tr>
                            <td>背书日期</td>
                            <td>{{item.endorserTm}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <script src="js/index.js"></script>

</body>

</html>