<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model='num1'>{{num1}}<br />
			<input type="text" v-model='num2'>{{num2}}<br />
			<br /><br />{{Number(num1) + Number(num2)}}<br />
			{{message | answer(num1,num2)}}
		</div>
		<script type="text/javascript">
			new Vue({
				el:"#app",
				data:{
					message:'答案是：',
					num1:'',
					num2:''
				},
				filters:{
					answer:function(value,num1,num2){
						let result=Number(num1)+Number(num2);
						return value + result;
					}
				}
			})
		</script>
	</body>
</html>
