<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>
</head>
<body>
<div id="app">
    <select v-model="val">
        <option v-for="x in options" :value="x.id">{{x.val}}</option>
    </select>
    <br>
    {{val}}
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            val:'2',
            newVal:'3',
            options:[
                {id:1,val:111},
                {id:2,val:222},
                {id:3,val:333},
            ]
        },
        methods:{
            myVal:function (){
                if(this.newVal){
                    return this.newVal;
                }else{
                    return this.val;
                }
            }
        }
    })
</script>
</body>
</html>