<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
         /*ui-date样式*/
        .uib-button-bar .btn-group button[ng-click^="select(null)"] {
            display: none;
        }
    </style>

    <script src="../js/jquery%20v2.2.4.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script>
        angular.module('app',['ui-bootstrap-tpls']).controller('ctrl',function ($scope) {

        }).directive('ngTime', function() {
            return {
                restrict : 'A',
                require : '?ngModel',
                link : function($scope, $element, $attrs, $ngModel) {
                    if (!$ngModel) {
                        return;
                    }
                    $('.form_datetime').datetimepicker({
                        weekStart: 1,
                        todayBtn:  1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        forceParse: 0,
                        showMeridian: 1
                    });
                    $('.form_date').datetimepicker({
                        language:  'fr',
                        weekStart: 1,
                        todayBtn:  1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        minView: 2,
                        forceParse: 0
                    });
                    $('.form_time').datetimepicker({
                        language:  'fr',
                        weekStart: 1,
                        todayBtn:  1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 1,
                        minView: 0,
                        maxView: 1,
                        forceParse: 0
                    });
                },
            };
    </script>
</head>
<body ng-app="app" ng-controller="ctrl">
<div class="form-group">
    <label for="dtp_input1" class="col-md-2 control-label">DateTime Picking</label>
    <div  ng-model='timepickerTest'  ng-time class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
        <input class="form-control" size="16" type="text" value="" readonly>
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
    </div>
    <input type="hidden" id="dtp_input1" value="" /><br/>
</div>

<div class="form-group">
    <label for="dtp_input2" class="col-md-2 control-label">Date Picking</label>
    <div  ng-model='timepickerTest'  ng-time class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
        <input class="form-control" size="16" type="text" value="" readonly>
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <input type="hidden" id="dtp_input2" value="" /><br/>
</div>

<div class="form-group">
    <label for="dtp_input3" class="col-md-2 control-label">Time Picking</label>
    <div  ng-model='timepickerTest'  ng-time class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
        <input class="form-control" size="16" type="text" value="" readonly>
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
    </div>
    <input type="hidden" id="dtp_input3" value="" /><br/>
</div>
</body>
</html>